doctype html
html
    head
        .welcome
            title= title
            link(rel='stylesheet', href='/stylesheets/style.css')
            script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js")
            script(src="/js/frontend.js")
            h1 Confirmed Order

    body
        .confirmPage
            p Thank you #{person_name}
            p You submitted #{meals_stay} meals to stay and #{meals_go} meals to go!
            .returnHome
                a(href="/")
                    button(type="button",class = "homeButton") Start Over

include footer