doctype html
html
    //head
    //    .welcome
    //        title= title
    //        link(rel='stylesheet', href='/stylesheets/style.css')
    //        script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js")
    //        script(src="/js/frontend.js")
    //        h1 Welcome To Caritas Portchester
    //
    //body
    //    form(action='/create', method="post")
    //        input(type="text", name="identifier", placeholder="Enter identifier")
    //        input(type="text", name="extra_info", placeholder="Extra info")
    //        button(type="submit")
    head
        title= title
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js")
        script(src="/js/frontend.js")
        script(src="/routes/create.js")
        link(rel='stylesheet', href='/stylesheets/style.css')
        p=error
        .topContainer
            .logoLeft
                img(id="logo_left", src="/images/logo.png", width="80%", height="100%", alt="Cartias Logo")
            .header
                h1 New Account
            .logoRight
                img(id="logo_right", src="/images/logo.png", width="80%", height="100%", alt="Cartias Logo")
    body
        .newAccountPage
            form(action='/create', method='POST')
            .enterID
                input(type="text", name="identifier", class="idlogin", placeholder="Enter identifier")
                //form(action='/create', method='POST')
                //    input(type="hidden", name="type", value="account")
                //    input(type = 'text', name = 'id', placeholder= '  Enter Member ID', class="idlogin")
            .additionalInfo
                textarea(type="text", name="extra_info", class="newaccount", class="idlogin", placeholder="Enter Additional Information (allergies, family size, etc.)", cols="40" rows="4")
                //form(action='/createAccount', method='POST')
                //    input(type="hidden", name="type", value="account")
                //    //input(type = 'text', name = 'id', placeholder= '  Enter Additional Information (allergies, family size, etc.)', class="newaccount")
                //    (type = 'text', name = 'id', placeholder= '  Enter Additional Information (allergies, family size, etc.)', class="idlogin", id="add_info", cols="40" rows="4")
            .goButton
                button(type='submit', name="Create Account", class="newAccount") Create Account
include footer