footer
    .language
        label(class="switch")
            p English
            input(type="checkbox" checked, onclick="swapLanguage()")
            span(class="slider round")
            p Spanish
