doctype html
html(lang="en")
    head
        title= title
        link(rel='stylesheet', href='/stylesheets/style.css')
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js")
        script(src="/js/frontend.js")
        p=error
        .topContainer
            .logoLeft
                img(id="logo_left", src="/images/logo.png", width="80%", height="100%", alt="Caritas Logo")
            .header
                h1(id="guest_header") %phrase%
            .logoRight
                img(id="logo_right", src="/images/logo.png", width="80%", height="100%", alt="Caritas Logo")

    body
        .guestScreen
            .mealStay
                .labelContainer
                    .titleLabel
                        p(class="pForAccess" id="meals_to_stay") %phrase%
                    .mmLabel
                        p(class="pForAccess" id="todays_limit") %phrase%: #{max_meals_stay}
                .minusButton
                    button(type='button', onclick="if(document.getElementById('meals_now_stay').innerText>0){document.getElementById('meals_now_stay').innerText--;}") -
                .mealCounter
                    span(class = "mealNumber")#meals_now_stay 0
                .plusButton
                    button(type='button', onclick="if(document.getElementById('meals_now_stay').innerText< " + max_meals_stay + "){document.getElementById('meals_now_stay').innerText++;}") +
            .mealToGO
                .labelContainer
                    .titleLabel
                        p(class="pForAccess" id="meals_to_go") %phrase%
                    .mmLabel
                        p(class="pForAccess" id="todays_limit_go") %phrase%: #{max_meals_go}
                .minusButton
                    button(type='button', onclick="if(document.getElementById('meals_now_go').innerText>0){document.getElementById('meals_now_go').innerText--;}") -
                .mealCounter
                    span(class = "mealNumber")#meals_now_go 0
                .plusButton
                    button(type='button', onclick="if(document.getElementById('meals_now_go').innerText< " + max_meals_go + "){document.getElementById('meals_now_go').innerText++;}") +
            .submitDiv
                form(action='/submit', method='POST', class='submitForm' onsubmit="guestSubmit()")
                    input(type="hidden", name="type", value="guest")
                    input(type="hidden", name="meals_now_stay", id="meals_now_stay_input")
                    input(type="hidden", name="meals_now _go", id="meals_now_go_input")
                    button(type='submit', class="submitButton" id="form_submit") %phrase%

include footer