doctype html
html(lang="en")
    head
        title= title
        link(rel='stylesheet', href='/stylesheets/style.css')
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js")
        script(src="/js/frontend.js")
        p=error
        .topContainer
            .logoLeft
                img(id="logo_left", src="/images/logo.png", width="80%", height="100%", alt="Cartias Logo")
            .header
                h1(id="home_header") %phrase%
            .logoRight
                img(id="logo_right", src="/images/logo.png", width="80%", height="100%", alt="Cartias Logo")

    body
        .vl
        .home
            .guest
                form(action='/login', method='POST')
                    .guestLoginButton
                        input(type="hidden", name="type", value="guest")
                        button(type='submit', name="Guest Button", class="loginButton", id="guest_login") %phrase%
            form(action='/login', method='POST')
                .member
                    input(type="hidden", name="type", value="member")
                    .memberID
                        input(type = 'text', name = 'id', placeholder= '%phrase%', class="idlogin" id="enter_id")
                    .memberLoginButton
                        button(type='submit', name="Member Login", class="loginButton" id="member_login") %phrase%
            .newAccount
                .newLoginButton
                    a(href='/create', id="create_new_account") %phrase%




include footer