doctype html
html(lang="en")
    head
        title= title
        link(rel='stylesheet', href='/stylesheets/style.css')
        p=error
        .topContainer
            .logoLeft
                img(id="logo", src="http://static1.squarespace.com/static/572e5d2d20c647909acbd7af/t/57e4688537c5811bc0675544/1543515204318/?format=1500w", width="80%", height="100%", alt="Cartias Logo")
            .header
                h1 Caritas Port Chester
            .logoRight
                img(id="logo", src="http://static1.squarespace.com/static/572e5d2d20c647909acbd7af/t/57e4688537c5811bc0675544/1543515204318/?format=1500w", width="80%", height="100%", alt="Caritas Logo")

    body
        .home
            .guest
                form(action='/login', method='post')
                    input(type="hidden", name="type", value="guest")
                    button(type='submit', name="Guest Button", class="loginButton") Guest Login
            .member
                label
                    form(action='/login', method='POST')
                        input(type="hidden", name="type", value="member")
                        input(type = 'text', name = 'id', placeholder= 'Enter ID', class="idlogin")
                        button(type='submit', name="Member Login", class="loginButton") Member Login
            .language
                h1 Switch Language


