doctype html
html(lang="en")
    head
        title= title
        link(rel='stylesheet', href='/stylesheets/style.css')
        p=error
        .topContainer
            .logoLeft
                img(id="logo_left", src="/images/logo.png", width="80%", height="100%", alt="Cartias Logo")
            .header
                h1 Caritas of Port Chester
            .logoRight
                img(id="logo_right", src="/images/logo.png", width="80%", height="100%", alt="Cartias Logo")

    body
        .home
            form(action='/login', method='POST')
                .guest
                    input(type="hidden", name="type", value="guest")
                    .loginButton
                        button(type='submit', name="Guest Button") Guest Login
            form(action='/login', method='POST')
                .member
                    //labelinput(type="hidden", name="type", value="member")
                    .memberID
                        input(type = 'text', name = 'id', placeholder= '  Enter Member ID', class="idlogin")
                    .loginButton
                        button(type='submit', name="Member Login") Enter
            .language
                h1 Switch Language
            .newAccount
                form(action='/create', method='POST')
                    .loginButton
                        button(type='submit', name="New Account", class="guestLoginButton") Create New Account

