extends layout

block welcome
    .welcome
        h1 Welcome To Caritas Portchester

block guest
    .guest
        form(action="/signup", method = 'post')
        button(type='button', name="Guest Button", class="loginButton") Guest Login
block member
    .member
        .login
            form(action='/signup', method='POST', class = "signIn")
                input( type = 'text', name = 'firstname', placeholder= 'Enter ID')
block language
    .language
        h1 Switch Language


