extends layout

block welcome
    .welcome
       h1 Welcome To Caritas Portchester

block guest
    .guest
        button(type='button', name="Guest Button", class="loginButton") Guest Login
block member
    .member
        block login
block language
    .language
        h1 Switch Language


