extends layout

block welcome
    .welcome
       h1 Welcome To Caritas Portchester

block guest
    .guest
        h1 Guest Login
        button(type='button', name="Guest Button")
block member
    .member
        h1 Member Login
        block login
block language
    .language
        h1 Switch Language


