.languageSwitch
    p(class="spanish") Español
    label(class="switch")
        input(type="checkbox" checked, onclick="swapLanguage()")
        span(class="slider round")
    p(class="english") English
