
//doctype html
//html
//    head
//        title= title
//        link(rel='stylesheet', href='/stylesheets/style.css')
//    body
//        .welcome
//            h1 Welcome To Caritas Portchester
//        .welcomeScreen
//            .loginWrapper
//                block guest
//            .loginWrapper
//                block member
//            block language
//        .guestScreen
//            block guestScreen
//        .memberScreen
//            block memberScreen

