doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/stylesheets/style.css')
    body
        .welcome
            h1 Welcome To Caritas Portchester
        .welcomeScreen
            block guest
            block member
            block language

