extends index
block login
    form(action='/signup', method='POST', class = "signIn") Enter ID
        input( type = 'text', name = 'firstname')
        button(type='submit', name = 'GoButton', class = "signIn") Sign In/Up!