doctype html
html(lang="en")
    - var parsed = JSON.parse(translation);
    head
        title= title
        link(rel='stylesheet', href='/stylesheets/style.css')
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js")
        script(src="/js/frontend.js")
        p=error
        .topContainer
            .logoLeft
                img(id="logo_left", src="/images/logo.png", width="80%", height="100%", alt="Cartias Logo")
            .header
                h1(id="new_account_header") #{parsed.new_account_header[index]}
            .logoRight
                img(id="logo_right", src="/images/logo.png", width="80%", height="100%", alt="Cartias Logo")

    body
        .newAccountPage
            form(action='/create', method='POST')
                .enterID
                    input(type='text', name='identifier', placeholder= parsed.enter_new_id[index], class="idlogin", id="enter_new_id")
                .additionalInfo
                    textarea(name='extra_info', placeholder= parsed.additional_info[index], class="idlogin", id="additional_info", cols="40" rows="4")
                .goButton
                    button(type='submit', name="Create_Account", class="createNewAccount", id="create_account") #{parsed.create_account[index]}
    include footer