body {
    background-color: #8eabff;
}

.welcomeScreen {
    display: grid;
    grid-template-areas: "guest member" "language language";
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    height: 90vh;
}

.welcome {
    text-align: center;
}

.language {
    grid-area: language;
    text-align: center;

}

.guest {
    grid-area: guest;
    text-align: center;

}

.member {
    grid-area: member;
    text-align: center;

}

.loginButton {
    background-color: blue;
    font-size: 30px;
    padding: 20px;

}

.loginWrapper {
    background-color: steelblue;
    font-size: 30px;
    padding: 20px;
}


.guestScreen {
    display: grid;
    grid-template-areas: " plusGo spanGo minusGo" "plusStay spanStay minusStay";
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    height: 90vh;
}

.mealStay .plus {
    grid-area: plusStay;
}

.mealStay .mealNumber {
    grid-area: spanStay;
}

.mealStay .minus {
    grid-area: minusStay;
}

.mealToGo .plus {
    grid-area: plusGo;
}

.mealToGo .mealNumber {
    grid-area: spanGo;
}

.mealToGo .minus {
    grid-area: minusGo;
}

