body {
    background-color: #8eabff;

}

.home {
    display: grid;
    grid-template-areas: "guest member" "language language";
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    height: 90vh;
}

.welcome {
    text-align: center;
}

.language {
    grid-area: language;
    text-align: center;

}

.guest {
    grid-area: guest;
    text-align: center;

}

.member {
    grid-area: member;
    text-align: center;

}

.loginButton {
    background-color: blue;
    font-size: 30px;
    padding: 20px;

}

.loginWrapper {
    background-color: steelblue;
    font-size: 30px;
    padding: 20px;
}

/*.guestScreen {*/
    /*display: grid;*/
    /*grid-template-areas: " plusGo spanGo minusGo" "plusStay spanStay minusStay";*/
    /*grid-template-columns: repeat(3, 1fr);*/
    /*grid-template-rows: repeat(2, 1fr);*/
    /*height: 90vh;*/
/*}*/

/*.mealStay .plusButton{*/
    /*grid-area: plusStay;*/
    /*background-color: pink;*/
/*}*/

/*.mealStay .mealCounter {*/
    /*grid-area: spanStay;*/
    /*background-color: white;*/
/*}*/

/*.mealStay .minusButton {*/
    /*grid-area: minusStay;*/
    /*background-color: purple;*/
/*}*/

/*.mealToGo .plusButton {*/
    /*grid-area: plusGo;*/
/*}*/

/*.mealToGo .mealCounter {*/
    /*grid-area: spanGo;*/
/*}*/

/*.mealToGo .minusButton {*/
    /*grid-area: minusGo;*/
/*}*/

.clear{
    clear: both;
}

.mealCounterWrapper{
    width: 30%;
    margin: auto;
}

.mealStay div, .mealToGO div{
    display: inline-block;
}

.mealStay, .mealToGO{
    margin-bottom: 100px;
    float: none;
}

.plusButton button, .minusButton button, .mealCounter{
    font-size: 4em;

}

.mealCounter{

    margin-left: 30px;
    margin-right: 30px;
}

