.welcomeScreen {
    background-color: #8eabff;
    display: grid;
    grid-template-areas: "welcome welcome" "guest member" "language language";
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.welcome {
    grid-area: welcome;
    text-align: center;
}

.language {
    grid-area: language;
    text-align: center;

}

.guest {
    grid-area: guest;
    text-align: center;

}

.member {
    grid-area: member;
    text-align: center;

}

.loginButton {
    background-color: steelblue;
    font-size: 30px;
    padding: 20px;

}

.signIn {
    background-color: steelblue;
    font-size: 30px;
    padding: 20px;
}

.login {
    font-size: 50px;
    padding: 25px;
}